---
import "../styles/global.css";
import { getCollection } from "astro:content";
const themes = await getCollection("themes");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>themx</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold">themx</h1>
    <p>Themes loaded: {themes.length}</p>
    <p>First theme: {themes[0]?.data.name}</p>
  </body>
</html>
